@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@700;800&display=swap");

:root {
  --bg-dark: #0b0b0b;
  --primary-red: #ff2c2c;
  --text-main: #ffffff;
  --text-muted: #d1d1d1;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-logo span {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  color: white;
}

 body {
  background-color: var(--bg-dark);
  color: var(--text-main);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}
